# .Business understanding

Aircraft vary widely in their safety records depending on manufacturer, model, maintenance history, usage, and geography.While modern aircraft are statistically very safe, historical data shows that certain models and types have accidents rates often linked to operational environment, mechanical complexities or outdated systems. a good safety record of an airline is critical towards its operational market, survival, reputation, prestige and most importantly passengers confidence towards its service offered. 

The company being new to aircraft enterprise, lacks experience in aircraft risk assessment. its therefore important to determine which aircraft has lowest risks for the organization to makes decisions on which aircraft to purchase. 

## .Business objective 
The organization is expanding into the aviation industry and seeks to identify aircrafts with low-risks in order to proceed with purchase and starts its operations. the goal is to ensure safety and purchasing a reliable aircraft for commercial and private use.
### .Objectives and business questions
1) which aircrafts model has the lowest historical accident rates

2) Are certain aircrafts more reliable than others

3) does use-case(private or commercial) impact risks
 

## .Metric of success
The success of the business depends on evidence-based recommendations on low risk aircraft before initial purchase. insights must be actionable, understandable to non-technical leadership and can be used in procurement process.

# .Data understanding 
The data to be used in this analysis is from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters.

## Loading dataset and getting the information

In [208]:
# importing necessary libraries to be used
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [209]:
# reading and loading the dataset
aviation_data = pd.read_csv("data\AviationData.csv", encoding = "latin1")
aviation_data.head()

C:\Users\User\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [ ]:
aviation_data.tail()

In [ ]:
aviation_data.sample(5, random_state= 4)

In [210]:
# checking rows and columns shape
aviation_data.shape

(88889, 31)

The above dataset has a total of 88889 records and 31 features

In [211]:
# column names
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [212]:
# checking data info, dtypes and non null counts
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

From the above information, its clearly notable that the dataset has a total of 5 columns with numerical data types and
26 columns consisting of categorical data.some columns such as Event.Date have data type object instead of date time, most of the variables have null values only a few variables have no null values
that indicates that data needs to cleaned before analysis.

In [213]:
# checking for statistical info
aviation_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Number.of.Engines,82805.0,1.146585,0.446510,0.0,1.0,1.0,1.0,8.0
Total.Fatal.Injuries,77488.0,0.647855,5.485960,0.0,0.0,0.0,0.0,349.0
Total.Serious.Injuries,76379.0,0.279881,1.544084,0.0,0.0,0.0,0.0,161.0
Total.Minor.Injuries,76956.0,0.357061,2.235625,0.0,0.0,0.0,0.0,380.0
Total.Uninjured,82977.0,5.325440,27.913634,0.0,0.0,1.0,2.0,699.0

In [214]:
# categorical info
aviation_data.describe(include= "O").head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,88889,88889,88889,88837,88663,34382,34373,50249,52790,...,88787,81812,32023,12582,82697,16648,84397,61724,82508,75118
unique,87951,2,88863,14782,27758,219,25592,27156,10375,24871,...,2,13,31,3,26,13590,4,12,17075,2924
top,20001214X45071,Accident,CEN23MA034,2000-07-08,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,80312,69530,18221,4474,49448,258,77303,15428,61754,17019

In [215]:
# us_code_data= pd.read_csv("data/USState_Codes.csv", encoding= "latin1")

## Data cleaning

In [216]:
# creating a copy of a data frame to be used in cleaning
aviation_cleaned_data = aviation_data.copy(deep= True)

In [217]:
# converting data type of Event date and publication data
aviation_cleaned_data['Event.Date'] = pd.to_datetime(aviation_cleaned_data['Event.Date'], errors= "coerce")
aviation_cleaned_data['Publication.Date'] = pd.to_datetime(aviation_cleaned_data["Event.Date"], errors= "coerce")

In [218]:
# converting columns with float dtype to number(int)
# check if there are missing values
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].isnull().sum()
# aviation_cleaned_data['Total.Uninjured'] = pd.to_

Total.Uninjured            5912
Total.Minor.Injuries      11933
Total.Serious.Injuries    12510
Total.Fatal.Injuries      11401
Number.of.Engines          6084
dtype: int64

In [219]:
# filling missing values in above columns
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']]= aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].fillna(0)

In [220]:
# checking missing values
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].isnull().sum()

Total.Uninjured           0
Total.Minor.Injuries      0
Total.Serious.Injuries    0
Total.Fatal.Injuries      0
Number.of.Engines         0
dtype: int64

In [221]:
# conveting to interger
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']]= aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].astype(int)

In [222]:
# checking effectiveness
aviation_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       88889 non-null  int32
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    88889 non-null  int32
 24  Total.Serious.Injuries  88889 non-null  int32
 25  Total.Minor.Injuries    88889 non-null  int32
 26  Total.Uninjured         88889 non-null  int32
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        88889 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int32(5), object(24)
memory usage: 19.3+ MB

In [223]:
# removing . in column names and changing to lower case for uniformity
aviation_cleaned_data.columns = aviation_cleaned_data.columns.str.lower().str.replace(".", " ")

In [224]:
# checking missing values
aviation_cleaned_data.isna().mean() * 100

event id                   0.000000
investigation type         0.000000
accident number            0.000000
event date                 0.000000
location                   0.058500
country                    0.254250
latitude                  61.320298
longitude                 61.330423
airport code              43.469946
airport name              40.611324
injury severity            1.124999
aircraft damage            3.593246
aircraft category         63.677170
registration number        1.481623
make                       0.070875
model                      0.103500
amateur built              0.114750
number of engines          0.000000
engine type                7.961615
far description           63.974170
schedule                  85.845268
purpose of flight          6.965991
air carrier               81.271023
total fatal injuries       0.000000
total serious injuries     0.000000
total minor injuries       0.000000
total uninjured            0.000000
weather condition          5.053494
broad phase of flight     30.560587
report status              7.178616
publication date           0.000000
dtype: float64

Observation

some columns have  65% and above 0f their values missing, they need to be dropped
these columns are: schedule, air carrier and far description

In [225]:
# checking columns unique value before dropping
# for column in aviation_cleaned_data:
#     unique_values= aviation_cleaned_data[column].unique()
#     print(f"'{column}', '\n': {unique_values}", '\n')

In [226]:
# dropping Schedule column and far description
aviation_cleaned_data.drop(columns= ["schedule", "far description", 'latitude', 'longitude'], inplace= True)

In [227]:
# checking columns
# aviation_cleaned_data.columns

In [228]:
# checking columns with non-numerical data type
aviation_cleaned_data.select_dtypes(include= "O").columns

Index(['event id', 'investigation type', 'accident number', 'location',
       'country', 'airport code', 'airport name', 'injury severity',
       'aircraft damage', 'aircraft category', 'registration number', 'make',
       'model', 'amateur built', 'engine type', 'purpose of flight',
       'air carrier', 'weather condition', 'broad phase of flight',
       'report status'],
      dtype='object')

In [229]:
# cleaning all string columns in a dataframe
# for column in aviation_cleaned_data.select_dtypes(include= "O").columns:
#     aviation_cleaned_data[column]= aviation_cleaned_data[column].astype(str).str.strip().str.lower()

In [230]:
# replacing nan with np.nan
# aviation_cleaned_data.replace("nan", np.nan, inplace= True)

In [231]:
# lowering the make case to normalize or standardize the make
aviation_cleaned_data['make']= aviation_cleaned_data['make'].str.strip().str.lower()

In [232]:
# making 
make_missing_model_known = (aviation_cleaned_data['make'].isnull()) & (aviation_cleaned_data['model'].notnull())
aviation_cleaned_data['make'].isnull().sum()

63

In [233]:
aviation_cleaned_data.loc[make_missing_model_known, 'make'] = "cessna"

# aviation_cleaned_data.loc[make_missing_model_known, 'make']

In [234]:
# checking null values in make column
aviation_cleaned_data['make'].isnull().sum()

43

In [235]:
# filling in missing make values with unkwnown
aviation_cleaned_data['make'] = aviation_cleaned_data['make'].fillna('unknown')

In [236]:
aviation_cleaned_data['make'].unique()

array(['stinson', 'piper', 'cessna', ..., 'james r dernovsek',
       'orlican s r o', 'royse ralph l'], dtype=object)

cleaning model rows

In [237]:
# checking missing values
aviation_cleaned_data['model'].isnull().sum()

92

Observation

The model column has 92 missing records

In [238]:
# checking the value counts of the most common 30 by make
aviation_cleaned_data[['make', 'model']].value_counts().head(30)

make     model
cessna   152           2366
         172           1753
         172N          1163
piper    PA-28-140      932
cessna   150            829
         172M           798
         172P           689
         182            659
         180            621
         150M           585
piper    PA-18          578
         PA-28-180      572
         PA-18-150      571
         PA-28-161      565
         PA-28-181      529
bell     206B           516
boeing   737            489
piper    PA-38-112      468
cessna   150L           460
beech    A36            419
cessna   140            401
         170B           389
         172S           371
grumman  G-164A         365
piper    PA-32-300      356
cessna   182P           355
piper    PA-24-250      352
         PA-28R-200     334
         PA-12          324
cessna   A188B          318
dtype: int64

Observation

In cessna make, model 152, is the most common model, and in piper make the most common model is PA-28-140,
in bell make is 206B, boeing is 737, so we are going to use the common make to fill in the missing values in model
using the the most common model, i.e if the make row is cessna and the model row is missing we are going to fill it with
the most common model of cessna and so on with other model rows

In [239]:
# creating a list of most common 30 make 
valid_makes= ['cessna', 'piper', 'beech', 'boeing', 'bell', 'mooney', 'robinson', 
              'grumman', 'bellanca', 'hughes', 'schweizer', 'air tractor', 'aeronca', 'mcdonnell douglas', 'maule', 
              'champion', 'stinson']

In [240]:
# filtering the dataset to only valid makes
aviation_data_filtered = aviation_cleaned_data[(aviation_cleaned_data['make'].isin(valid_makes)) & 
                                               (aviation_cleaned_data['model'].notna())]

In [241]:
# checking rows where model is missing
missing_model_aviation = aviation_cleaned_data[aviation_cleaned_data['model'].isna()]

In [242]:
# creating  make to model dict
model_mapping= (aviation_data_filtered.groupby('make')['model'].
               agg(lambda x: x.mode().iloc[0] if not x.mode().empty else np.nan).to_dict()
               )

In [243]:
# filling missing models row by row
for index, row in missing_model_aviation.iterrows():
    make= row['make']
    if make in model_mapping:
        aviation_cleaned_data.at[index, 'model']= model_mapping[make]

In [244]:
# checking missing values in model
aviation_cleaned_data['model'].isna().sum()

78

In [245]:
aviation_cleaned_data['model'] = aviation_cleaned_data['model'].fillna('unknown')

In [246]:
aviation_cleaned_data['model'].isna().sum()

0

cleaning aircraft category column

In [247]:
# checking all unique values
aircraft_category = aviation_cleaned_data['aircraft category'].value_counts(dropna= False)
aircraft_category

NaN                  56602
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: aircraft category, dtype: int64

In [248]:
aviation_cleaned_data['aircraft category'].unique()

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

Observation some unique values are abbreviation of the full values such as WSFT simply means 
Weight-Shift category, ULTR means Ultralight aircraft category and UNK means Unknown

In [249]:
# changing the abbreviations to full values
# creating a dic of category abbreviations
category_abb = {'WSFT': 'Weight-Shift',
               'ULTR': 'Ultralight',
               'UNK': 'Unknown'}

In [250]:
# replacing abbreviations
aviation_cleaned_data['aircraft category'] = aviation_cleaned_data['aircraft category'].replace(category_abb)

In [251]:
# checking unique values after replacing the abbreviations
aviation_cleaned_data['aircraft category'].unique()

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket'], dtype=object)

In [252]:
# checking columns value counts
aviation_cleaned_data['air carrier'].unique()

array([nan, 'Air Canada', 'Rocky Mountain Helicopters, In', ...,
       'SKY WEST AVIATION INC TRUSTEE', 'GERBER RICHARD E',
       'MC CESSNA 210N LLC'], dtype=object)

In [252]:
aviation_cleaned_data['weather condition'].unique()

array(['UNK', 'IMC', 'VMC', nan, 'Unk'], dtype=object)

In [217]:
aviation_cleaned_data["air carrier"].isna().sum()

72241

In [220]:
# checking Engine Type
aviation_cleaned_data["engine type"].isna().sum()

7077

In [223]:
# unique values
aviation_cleaned_data["engine type"].value_counts().head(20)

reciprocating      69530
turbo shaft         3609
turbo prop          3391
turbo fan           2481
unknown             2051
turbo jet            703
none                  21
geared turbofan       12
electric              10
lr                     2
hybrid rocket          1
unk                    1
Name: engine type, dtype: int64

In [65]:
# checking value counts
aviation_cleaned_data[['make', 'model']].value_counts().head(50)

make      model
cessna    152           2366
          172           1753
          172N          1163
piper     PA-28-140      932
cessna    150            829
          172M           798
          172P           689
          182            659
          180            621
          150M           585
piper     PA-18          578
          PA-28-180      572
          PA-18-150      571
          PA-28-161      565
          PA-28-181      529
bell      206B           516
boeing    737            489
piper     PA-38-112      468
cessna    150L           460
beech     A36            419
cessna    140            401
          170B           389
          172S           371
grumman   G-164A         365
piper     PA-32-300      356
cessna    182P           355
piper     PA-24-250      352
          PA-28R-200     334
          PA-12          324
cessna    A188B          318
piper     PA-23-250      311
cessna    177            296
mooney    M20J           287
cessna    A185F          285
piper     PA-22-150      281
          PA-31-350      280
cessna    185            279
piper     PA28           279
aeronca   7AC            271
robinson  R44            267
cessna    182Q           266
          150F           264
          210            260
piper     PA-25-235      257
cessna    150H           245
          172RG          245
          T210N          244
          150G           242
beech     58             242
cessna    177RG          236
dtype: int64

In [71]:
aviation_cleaned_data['make'].unique()

7587

In [54]:
# checking for duplicates
aviation_data.duplicated().sum().any()

False

In [62]:
# checking for duplicates in columns
aviation_data[aviation_data.duplicated(subset= "Event.Id", keep= False)]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
117,20020917X01908,Accident,DCA82AA012B,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Personal,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Executive/corporate,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
153,20020917X02259,Accident,LAX82FA049A,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,4.0,0.0,VMC,Unknown,Probable Cause,23-01-1983
158,20020917X02400,Accident,MIA82FA038B,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,23-01-1983
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88796,20221121106336,Accident,WPR23LA041,2022-11-18,"Las Vegas, NV",United States,361239N,1151140W,VGT,NORTH LAS VEGAS,...,Instructional,702 HELICOPTER INC,0.0,0.0,0.0,3.0,VMC,NaN,NaN,07-12-2022
88797,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,British Airways,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88798,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,Valair Private Jets,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88813,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Instructional,HeliStream Inc.,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022
88814,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Public Aircraft - Federal,U.S. Navy,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022

The above dataset has no duplicated records

In [ ]:
#