# .Business understanding

Aircraft vary widely in their safety records depending on manufacturer, model, maintenance history, usage, and geography.While modern aircraft are statistically very safe, historical data shows that certain models and types have accidents rates often linked to operational environment, mechanical complexities or outdated systems. a good safety record of an airline is critical towards its operational market, survival, reputation, prestige and most importantly passengers confidence towards its service offered. 

The company being new to aircraft enterprise, lacks experience in aircraft risk assessment. its therefore important to determine which aircraft has lowest risks for the organization to makes decisions on which aircraft to purchase. 

## .Business objective 
The organization is expanding into the aviation industry and seeks to identify aircrafts with low-risks in order to proceed with purchase and starts its operations. the goal is to ensure safety and purchasing a reliable aircraft for commercial and private use.
### .Objectives and business questions
1) which aircrafts model has the lowest historical accident rates
2) Are certain aircrafts more reliable than others
3) does use-case(private or commercial) impact risks
4) 

## .Metric of success
The success of the business depends on evidence-based recommendations on low risk aircraft before initial purchase. insights must be actionable, understandable to non-technical leadership and can be used in procurement process.

# .Data understanding 
The data to be used in this analysis is from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters.

## Loading dataset and getting the information

In [2]:
# importing necessary libraries to be used
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [3]:
# reading and loading the dataset
aviation_data = pd.read_csv("data\AviationData.csv", encoding = "latin1")
aviation_data.head()

C:\Users\User\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
aviation_data.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [5]:
aviation_data.sample(5, random_state= 4)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
38221,20001207X04511,Accident,LAX95FA321,1995-09-02,"PHOENIX, AZ",United States,NaN,NaN,DVT,PHOENIX DEER VALLEY MUNI,...,Personal,NaN,2.0,0.0,0.0,0.0,VMC,Approach,Probable Cause,04-02-1997
33359,20001211X12901,Accident,DEN93LA088,1993-07-27,"MEEKER, CO",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,1.0,0.0,VMC,Maneuvering,Probable Cause,13-09-1994
65184,20080820X01268,Accident,CHI08WA258,2008-08-17,"Covington, United Kingdom",United Kingdom,NaN,NaN,NaN,NaN,...,Unknown,Reconnaissance Ventures Ltd,5.0,0.0,0.0,0.0,NaN,NaN,NaN,25-09-2020
82316,20180915X11112,Accident,WPR18LA262,2018-09-15,"St. Johns, AZ",United States,343049N,1092213W,SJN,St Johns Industrial Airport,...,Personal,NaN,0.0,0.0,3.0,0.0,VMC,NaN,The pilot's inadequate preflight planning befo...,25-09-2020
87501,20220307104735,Accident,ANC22LA022,2022-03-05,"Newhalen, AK",United States,593854N,0154597W,NaN,NaN,...,Business,SEND NORTH,0.0,1.0,4.0,0.0,IMC,NaN,The pilotÂ’s decision to continue visual flight...,01-09-2022

In [6]:
# checking rows and columns shape
aviation_data.shape

(88889, 31)

The above dataset has a total of 88889 records and 31 features

In [7]:
# column names
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [8]:
# checking data info, dtypes and non null counts
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

From the above information, its clearly notable that the dataset has a total of 5 columns with numerical data types and
26 columns consisting of categorical data.some columns such as Event.Date have data type object instead of date time, most of the variables have null values only a few variables have no null values
that indicates that data needs to cleaned before analysis.

In [9]:
# checking for statistical info
aviation_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Number.of.Engines,82805.0,1.146585,0.446510,0.0,1.0,1.0,1.0,8.0
Total.Fatal.Injuries,77488.0,0.647855,5.485960,0.0,0.0,0.0,0.0,349.0
Total.Serious.Injuries,76379.0,0.279881,1.544084,0.0,0.0,0.0,0.0,161.0
Total.Minor.Injuries,76956.0,0.357061,2.235625,0.0,0.0,0.0,0.0,380.0
Total.Uninjured,82977.0,5.325440,27.913634,0.0,0.0,1.0,2.0,699.0

In [10]:
# categorical info
aviation_data.describe(include= "O").head(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,88889,88889,88889,88837,88663,34382,34373,50249,52790,...,88787,81812,32023,12582,82697,16648,84397,61724,82508,75118
unique,87951,2,88863,14782,27758,219,25592,27156,10375,24871,...,2,13,31,3,26,13590,4,12,17075,2924
top,20001212X19172,Accident,ERA22LA119,2000-07-08,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,80312,69530,18221,4474,49448,258,77303,15428,61754,17019

In [11]:
# us_code_data= pd.read_csv("data/USState_Codes.csv", encoding= "latin1")

## Data cleaning

In [12]:
# creating a copy of a data frame to be used in cleaning
aviation_cleaned_data = aviation_data.copy(deep= True)

In [13]:
# converting data type of Event date and publication data
aviation_cleaned_data['Event.Date'] = pd.to_datetime(aviation_cleaned_data['Event.Date'], errors= "coerce")
aviation_cleaned_data['Publication.Date'] = pd.to_datetime(aviation_cleaned_data["Event.Date"], errors= "coerce")

In [14]:
# converting columns with float dtype to number(int)
# check if there are missing values
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].isnull().sum()
# aviation_cleaned_data['Total.Uninjured'] = pd.to_

Total.Uninjured            5912
Total.Minor.Injuries      11933
Total.Serious.Injuries    12510
Total.Fatal.Injuries      11401
Number.of.Engines          6084
dtype: int64

In [15]:
# filling missing values in above columns
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']]= aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].fillna(0)

In [16]:
# checking missing values
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].isnull().sum()

Total.Uninjured           0
Total.Minor.Injuries      0
Total.Serious.Injuries    0
Total.Fatal.Injuries      0
Number.of.Engines         0
dtype: int64

In [17]:
# conveting to interger
aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']]= aviation_cleaned_data[['Total.Uninjured', 'Total.Minor.Injuries', 'Total.Serious.Injuries', 'Total.Fatal.Injuries', 
                      'Number.of.Engines']].astype(int)

In [18]:
# checking effectiveness
aviation_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       88889 non-null  int32
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    88889 non-null  int32
 24  Total.Serious.Injuries  88889 non-null  int32
 25  Total.Minor.Injuries    88889 non-null  int32
 26  Total.Uninjured         88889 non-null  int32
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        88889 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int32(5), object(24)
memory usage: 19.3+ MB

In [19]:
# removing . in column names and changing to lower case for uniformity
aviation_cleaned_data.columns = aviation_cleaned_data.columns.str.lower().str.replace(".", " ")

In [58]:
# checking missing values
aviation_cleaned_data.isna().sum()

event id                      0
investigation type            0
accident number               0
event date                    0
location                     52
country                     226
airport code              38640
airport name              36099
injury severity            1000
aircraft damage            3194
aircraft category         56602
registration number        1317
make                         63
model                        92
amateur built               102
number of engines             0
engine type                7077
purpose of flight          6192
air carrier               72241
total fatal injuries          0
total serious injuries        0
total minor injuries          0
total uninjured               0
weather condition          4492
broad phase of flight     27165
report status              6381
publication date              0
dtype: int64

Observation

some columns have  65% and above 0f their values missing, they need to be dropped
these columns are: schedule, air carrier and far description

In [21]:
# checking columns unique value before dropping
# for column in aviation_cleaned_data:
#     unique_values= aviation_cleaned_data[column].unique()
#     print(f"'{column}', '\n': {unique_values}", '\n')

In [22]:
# dropping Schedule column and far description
aviation_cleaned_data.drop(columns= ["schedule", "far description", 'latitude', 'longitude'], inplace= True)

In [23]:
# checking columns
# aviation_cleaned_data.columns

In [73]:
# checking columns with non-numerical data type
aviation_cleaned_data.select_dtypes(include= "O").columns

Index(['event id', 'investigation type', 'accident number', 'location',
       'country', 'airport code', 'airport name', 'injury severity',
       'aircraft damage', 'aircraft category', 'registration number', 'make',
       'model', 'amateur built', 'engine type', 'purpose of flight',
       'air carrier', 'weather condition', 'broad phase of flight',
       'report status'],
      dtype='object')

In [25]:
# cleaning all string columns in a dataframe
# for column in aviation_cleaned_data.select_dtypes(include= "O").columns:
#     aviation_cleaned_data[column]= aviation_cleaned_data[column].astype(str).str.strip().str.lower()

In [26]:
# replacing nan with np.nan
# aviation_cleaned_data.replace("nan", np.nan, inplace= True)

In [27]:
aircraft_category = aviation_cleaned_data['aircraft category'].unique()
aircraft_category

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket', 'WSFT', 'UNK', 'ULTR'], dtype=object)

Observation
some unique values are abbreviation of the full values such as WSFT simply means Weight-Shift category,
ULTR means Ultralight aircraft category and UNK means Unknown

In [35]:
# changing the abbreviations to full values
# creating a dic of category abbreviations
category_abb = {'WSFT': 'Weight-Shift',
               'ULTR': 'Ultralight',
               'UNK': 'Unknown'}

In [32]:
# replacing abbreviations
aviation_cleaned_data['aircraft category'] = aviation_cleaned_data['aircraft category'].replace(category_abb)

In [36]:
# checking unique values after replacing the abbreviations
aviation_cleaned_data['aircraft category'].unique()

array([nan, 'Airplane', 'Helicopter', 'Glider', 'Balloon', 'Gyrocraft',
       'Ultralight', 'Unknown', 'Blimp', 'Powered-Lift', 'Weight-Shift',
       'Powered Parachute', 'Rocket'], dtype=object)

In [39]:
# cat_dam = aviation_cleaned_data['aircraft category'].groupby(aviation_cleaned_data[aviation_cleaned_data[
    'aircraft damage'])
# cat_dam

In [66]:
# lowering the make case to normalize or standardize the make
aviation_cleaned_data['make']= aviation_cleaned_data['make'].str.strip().str.lower()

In [67]:
aviation_cleaned_data[['make', 'model', 'aircraft category']].value_counts().head(40)

make                         model      aircraft category
cessna                       172        Airplane             867
                             152        Airplane             450
boeing                       737        Airplane             404
cessna                       182        Airplane             345
                             172N       Airplane             315
                             172S       Airplane             276
piper                        PA28       Airplane             273
cessna                       150        Airplane             256
                             180        Airplane             237
piper                        PA-28-140  Airplane             232
cessna                       172M       Airplane             217
robinson                     R44        Helicopter           214
piper                        PA-18-150  Airplane             196
beech                        A36        Airplane             175
cessna                       172P       Airplane             167
bell                         206B       Helicopter           153
                             206        Helicopter           146
cirrus design corp           SR22       Airplane             144
robinson helicopter company  R44 II     Helicopter           144
piper                        PA-28-161  Airplane             140
cessna                       140        Airplane             133
piper                        PA-28-180  Airplane             129
cessna                       170B       Airplane             122
                             210        Airplane             119
robinson                     R22        Helicopter           116
robinson helicopter          R22 BETA   Helicopter           112
piper                        PA-28-181  Airplane             112
cessna                       172R       Airplane             109
piper                        PA-18      Airplane             108
mooney                       M20J       Airplane             106
cessna                       A185F      Airplane             104
aeronca                      7AC        Airplane             102
cessna                       182P       Airplane             102
                             150M       Airplane             100
                             150L       Airplane              97
cirrus                       SR22       Airplane              96
cessna                       177        Airplane              96
piper                        PA-12      Airplane              86
                             PA18       Airplane              86
bell                         407        Helicopter            85
dtype: int64

In [69]:
aviation_cleaned_data[['make', 'model', 'aircraft category']].isna().sum()

make                    63
model                   92
aircraft category    56602
dtype: int64

In [41]:
# checking injury severity column unique values
# aviation_cleaned_data['injury severity'].unique()

In [ ]:
The above values are inconsistent

In [251]:
# checking columns value counts
aviation_cleaned_data['air carrier'].unique()

array([nan, 'Air Canada', 'Rocky Mountain Helicopters, In', ...,
       'SKY WEST AVIATION INC TRUSTEE', 'GERBER RICHARD E',
       'MC CESSNA 210N LLC'], dtype=object)

In [252]:
aviation_cleaned_data['weather condition'].unique()

array(['UNK', 'IMC', 'VMC', nan, 'Unk'], dtype=object)

In [217]:
aviation_cleaned_data["air carrier"].isna().sum()

72241

In [220]:
# checking Engine Type
aviation_cleaned_data["engine type"].isna().sum()

7077

In [223]:
# unique values
aviation_cleaned_data["engine type"].value_counts().head(20)

reciprocating      69530
turbo shaft         3609
turbo prop          3391
turbo fan           2481
unknown             2051
turbo jet            703
none                  21
geared turbofan       12
electric              10
lr                     2
hybrid rocket          1
unk                    1
Name: engine type, dtype: int64

In [65]:
# checking value counts
aviation_cleaned_data[['make', 'model']].value_counts().head(50)

make      model
cessna    152           2366
          172           1753
          172N          1163
piper     PA-28-140      932
cessna    150            829
          172M           798
          172P           689
          182            659
          180            621
          150M           585
piper     PA-18          578
          PA-28-180      572
          PA-18-150      571
          PA-28-161      565
          PA-28-181      529
bell      206B           516
boeing    737            489
piper     PA-38-112      468
cessna    150L           460
beech     A36            419
cessna    140            401
          170B           389
          172S           371
grumman   G-164A         365
piper     PA-32-300      356
cessna    182P           355
piper     PA-24-250      352
          PA-28R-200     334
          PA-12          324
cessna    A188B          318
piper     PA-23-250      311
cessna    177            296
mooney    M20J           287
cessna    A185F          285
piper     PA-22-150      281
          PA-31-350      280
cessna    185            279
piper     PA28           279
aeronca   7AC            271
robinson  R44            267
cessna    182Q           266
          150F           264
          210            260
piper     PA-25-235      257
cessna    150H           245
          172RG          245
          T210N          244
          150G           242
beech     58             242
cessna    177RG          236
dtype: int64

In [71]:
aviation_cleaned_data['make'].unique()

7587

In [54]:
# checking for duplicates
aviation_data.duplicated().sum().any()

False

In [62]:
# checking for duplicates in columns
aviation_data[aviation_data.duplicated(subset= "Event.Id", keep= False)]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
117,20020917X01908,Accident,DCA82AA012B,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Personal,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Executive/corporate,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
153,20020917X02259,Accident,LAX82FA049A,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,4.0,0.0,VMC,Unknown,Probable Cause,23-01-1983
158,20020917X02400,Accident,MIA82FA038B,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,23-01-1983
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88796,20221121106336,Accident,WPR23LA041,2022-11-18,"Las Vegas, NV",United States,361239N,1151140W,VGT,NORTH LAS VEGAS,...,Instructional,702 HELICOPTER INC,0.0,0.0,0.0,3.0,VMC,NaN,NaN,07-12-2022
88797,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,British Airways,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88798,20221122106340,Incident,DCA23WA071,2022-11-18,"Marrakech,",Morocco,NaN,NaN,NaN,NaN,...,NaN,Valair Private Jets,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88813,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Instructional,HeliStream Inc.,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022
88814,20221123106354,Accident,WPR23LA045,2022-11-22,"San Diego, CA",United States,323414N,1165825W,SDM,Brown Field Municipal Airport,...,Public Aircraft - Federal,U.S. Navy,0.0,0.0,0.0,4.0,VMC,NaN,NaN,22-12-2022

The above dataset has no duplicated records

In [ ]:
#